<!DOCTYPE html>
<html>
  <head>
    <title>SoundShroud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('soundshroud_favicon.png') %>
    <script type="text/javascript">window.logo = "<%= image_url("soundshroud_logo.png") %>"</script>
    <script type="text/javascript">window.charli_xcx = "<%= image_url("carolinecharli.jpg") %>"</script>
    <script type="text/javascript">window.oneohtrix = "<%= image_url("oneohtrix.jpg") %>"</script>
    <script type="text/javascript">window.bjork = "<%= image_url("bjork.jpg") %>"</script>
  </head>

  <body>
      <%= yield %>
  </body>
</html>
